bin/
obj/
Debug/
Release/
ipch/
.vscode/
.vs/

[Tt]emp/
[Tt]est[Rr]esults/
[Bb]uild[Ll]og.*

[Vv]isual[Ss]tudio[Dd]ebugger/
.vscode/

*.suo
*.sln.docstates

packages/

.idea/

.idea/
.idea/inspectionProfiles/

_ReSharper/
*.suo
*.user

.vscode/
